doctype html
html(lang="ru")
  head
    title Троксевазин

    link(rel='stylesheet', href='./index.pcss')

    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description" content="Троксевазин – медицинский продукт")

    meta(name="theme-color" content="#ffffff")
    
  body 
    main
      include ./components/navbar/navbar.pug
      header.header-product
        .header-product__wrapper.container
          .header-product__content 
            h1.title-h1 <strong>Троксевазин<sup>®</sup> капсулы — </strong>проверенное временем<sup>1</sup> средство
            br
            p Воздействует на проявления хронической венозной недостаточности и геморроя изнутри<sup>2</sup>.
            .header-product__menu 
              button.btn Купить
              button.btn.btn-rounded Инструкция
            br
            br
          .header-product__swiper.swiper-container
            .swiper-wrapper
              .swiper-slide.header-product__swiper-item
                img(src='./img/product/test.png' alt="")
          .header-product__menu_mobile
              button.btn Купить
              button.btn.btn-rounded Инструкция
      section.symptoms 
        .symptoms__wrapper.container 
          .symptoms__content 
            .symptoms__head.head
              h2.title-h1 Помогает бороться с симптомами при геморрое и варикозе<sup>*,2</sup>
            .symptoms__img 
              img(src="./img/product/symptoms-1.png", alt="")
            ul.symptoms__list
              li.symptoms__item 
                img(src="./img/product/symptom.png", alt="")
                p Хронической<br>венозной<br>недостаточности
              li.symptoms__item 
                img(src="./img/product/symptom.png", alt="")
                p Трофических <br>язвах
              li.symptoms__item 
                img(src="./img/product/symptom.png", alt="")
                p После склеротерапии вен<sup>**</sup>
              li.symptoms__item 
                img(src="./img/product/symptom.png", alt="")
                p Геморрое
            .symptoms__menu 
              button.btn Купить
              button.btn.btn-rounded Инструкция
      section.secret
        .secret__wrapper.container 
          .secret__content 
            .secret__head.head
              h2.title-h1 Капсулы Троксевазин<sup>®</sup>
              p Действуют изнутри, способствуют уреплению сосудов <br>и улучшению микроциркуляции<sup>2</sup>
            ul.secret__list.secret_purpure
              li.secret__item 
                img(src="./img/product/secret-1.png", alt="")
                p Производится <br>в Европе<sup>2</sup>
              li.secret__item 
                img(src="./img/product/secret-1.png", alt="")
                p Достигнутый эффект может сохраняться около 4 недель<sup>2</sup>
              li.secret__item 
                img(src="./img/product/secret-1.png", alt="")
                p Курс лечения в среднем – 3-4 недели<sup>2</sup>
              li.secret__item 
                img(src="./img/product/secret-1.png", alt="")
                p Обладает доступной ценой<sup>6</sup>
      section.economy
        .economy__wrapper.container 
          .economy__content 
            .economy__left 
              h2.title-h1 Экономьте<sup>3</sup> <br> при покупке большой упаковки 
              button.btn Купить
            .economy__right
              img(src="./img/product/economy-15.png", alt="")
              button.btn Купить
      section.tutorial 
        .tutorial__wrapper.container 
          .tutorial__content 
            .tutorial__head
              h2.title-h1 Как использовать капсулы Троксевазин<sup>®</sup> при хронической венозной недостаточности и геморрое?<sup>2</sup>
            .guide 
              .guide__block 
                h4.guide__title На начальном этапе лечения
                .guide__wrap
                  .guide__item
                    img(src="./img/product/guide-1.png", alt="")
                    p 1 капсула
                  .guide__item
                    img(src="./img/product/guide-1.png", alt="")
                    p в зависимости от тяжести симптомов
              .guide__block 
                h4.guide__title При повторном возникновении симптомов
                .guide__wrap
                  .guide__item
                    img(src="./img/product/guide-1.png", alt="")
                  .guide__item
                    img(src="./img/product/guide-1.png", alt="")
                p.guide__desc Возобновить лечение в той же дозе или снизить дозу до 1 капсулы 2 раза в день
      section.maternity
        .maternity__wrapper.container 
          .maternity__content 
            .maternity__text 
              h2.title-h1 Как применять при беременности<sup>2</sup>
              img(src="./img/product/maternity.png", alt="Беременность")
              p Гель может быть использован в II и III триместрах беременности, если ожидаемая польза для мамы выше, чем потенциальный риск для ребенка. <br><br>Перед применением препарата беременным обязательно нужно проконсультироваться с врачом.
            .maternity__img 
              img(src="./img/product/maternity.png", alt="Беременность")
      section.others 
        .others__wrapper.container 
          .others__content 
            h2(class="title-h1" style="max-width: 928px") Комплексный подход для воздействия на симптомы варикоза<sup>*</sup> не только изнутри, но и снаружи
            .others__list
              .others__item.swiper-gel-1 
                img(src="./img/product/other-gel-1-40.png", alt="")
                p <strong class="others-violet">Узнайте больше о<br>Троксевазин<sup>®</sup> Гель 2 % —</strong><br> доступная цена<sup>4</sup>, проверенный временем гель<sup>5</sup>
                button.btn.btn-rounded Узнать больше
              .others__item.swiper-gel-1 
                img(src="./img/product/other-gel-1-40.png", alt="")
                p <strong class="others-violet">Узнайте больше о<br>Троксевазин<sup>®</sup> НЕО —</strong><br> гель с усиленной<sup>***</sup> трехкомпонентной формулой<sup>6</sup>
                button.btn.btn-rounded Узнать больше
      section.faq
        .faq__wrapper.container 
          .faq__content 
            h2.title-h1 Инструкция по медицинскому применению капсул Троксевазин<sup>®</sup>
            .instruction 
              .instruction__list
                .instruction__item 
                  .instruction__title 
                    h5 Регистрационный номер
                    .accordion-btn
                  .instruction__desc
                .instruction__item 
                  .instruction__title 
                    h5 Торговое наименование препарата
                    .accordion-btn
                  .instruction__desc
                .instruction__item 
                  .instruction__title 
                    h5 Международное непатентованное наименование
                    .accordion-btn
                  .instruction__desc

              .instruction__list
                .instruction__item 
                  .instruction__title 
                    h5 Способ применения и дозы
                    .accordion-btn
                  .instruction__desc
                .instruction__item 
                  .instruction__title 
                    h5 Побочное действие
                    .accordion-btn
                  .instruction__desc
                .instruction__item 
                  .instruction__title 
                    h5 Передозировка
                    .accordion-btn
                  .instruction__desc
            .faq__download 
              button.btn.btn-rounded Скачать PDF
      section.read-more 
        .read-more__wrapper.container 
          .read-more__content 
            h2.title-h1 Узнайте больше о варикозе
            .articles 
              .articles__content
                .articles__item 
                  img(src="./img/product/article.jpg", alt="")
                  h3 Симптомы варикоза
                  p Посмотрим на статистику: по данным исследователей, большая часть пациентов до обращения к специалисту по проблемам с венами, флебологу, имела опыт...
                .articles__item 
                  img(src="./img/product/article.jpg", alt="")
                  h3 Анализы при варикозе
                  p Посмотрим на статистику: по данным исследователей, большая часть пациентов до обращения к специалисту по проблемам с венами, флебологу, имела опыт...
                .articles__item 
                  img(src="./img/product/article.jpg", alt="")
                  h3 Кратко о варикозе
                  p Посмотрим на статистику: по данным исследователей, большая часть пациентов до обращения к специалисту по проблемам с венами, флебологу, имела опыт...
              .articles__btn 
                button.btn.btn-rounded Смотреть еще
      section.sources
        .sources__wrapper.container
          p. 
            * Хронической венозной недостаточности
            <br>** В качестве вспомогательного лечения
            <br>*** По сравнению с Троксевазин® гелем 2%
            <br>1. Дата регистрация лекарственного средства Троксевазин® капсулы – 25.03.2008 г. Регистрационное удостоверение П N012713/01
            <br>2. Инструкция по медицинскому применению лекарственного препарата Троксевазин® капсулы ЛП-№ (000083)-(РГ-RU)
            <br>3. По сравнению с упаковкой 50 капсул. Процент экономии определен по отпускным ценам ООО «Тева» на 1 таблетку (Март 2023)
            <br>4. Розничная цена Троксевазин® гель 2% 40г - 360.4р (IQVIA, декабрь 2022)
            <br>5. Троксевазин® используется в России с 1981 г. РУ Б-8-242 №2654
            <br>6. Листок-вкладыш Троксевазин® Нео П-№(001509)-(РГ-RU)
            <br>7. Розничная цена Троксевазин® капсулы: упаковка 100 капсул – 1298 руб., упаковка 50 капсул – 783 руб (IQVIA, декабрь 2022)
      //- Footer
      include ./components/footer/footer.pug
      //- Modal
      //- include ./layouts/modal.pug
      
    script(src='index.js' type="module" defer)