doctype html
html(lang="ru")
  head
    title Троксевазин

    link(rel='stylesheet', href='./index.pcss')

    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description" content="Троксевазин – медицинский продукт")

    meta(name="theme-color" content="#ffffff")
    
  body 
    main
      include ./components/navbar/navbar.pug
      header.header-case
        .header-case__wrapper.container
          .header-case__top 
            h1.title-h1.header-case__title <strong>Геморрой</strong> – распространенное заболевание среди взрослого населения<sup>1</sup>
            .header-case__img
              img(src="./img/case/header-1.png", alt="")
          .header-case__list 
            .header-case__item
              img(src="./img/case/h-list-1.png", alt="")
              p Заболевание может сопровождаться такими крайне неприятными симптомами как <strong>боль, зуд и кровотечение из геморроидальных узлов</strong>, а при развитии заболевания может привести к <strong>выпадению геморроидальных узлов.</strong> Ученые<sup>2</sup> выделяют 4 стадии хронического геморроя. Вот как они <i>различаются</i>.
            .header-case__item
              img(src="./img/case/h-list-1.png", alt="")
              p При первых признаках заболевания <strong>необходимо обратиться к врачу</strong> и получить план лечения, чтобы избежать прогрессирования заболевания. 
      section.factors 
        .factors__wrapper.container 
          .factors__content 
            h2.title-h1 Факторы риска <br> развития геморроя<sup>2</sup>
            ul.factors__list
              li.factors__item
                img(src="./img/case/factor-1.png", alt="")
                p Наследственность
              li.factors__item
                img(src="./img/case/factor-1.png", alt="")
                p Тяжелые физические нагрузки
              li.factors__item
                img(src="./img/case/factor-1.png", alt="")
                p Сидячий образ жизни
              li.factors__item
                img(src="./img/case/factor-1.png", alt="")
                p Неустойчивый <br> стул
              li.factors__item
                img(src="./img/case/factor-1.png", alt="")
                p Запоры и длительные натуживания
              li.factors__item
                img(src="./img/case/factor-1.png", alt="")
                p Характер питания — обилие острого, специй и алкоголя
      section.symptoms 
        .symptoms__wrapper.container 
          .symptoms__content 
            .symptoms__head
              h2.title-h1 Как бороться с геморроем<sup>2</sup>
            .symptoms__img 
              img(src="./img/product/symptoms-1.png", alt="")
            ul.symptoms__list
              li.symptoms__item 
                img(src="./img/product/symptom.png", alt="")
                p Диетотерапия
              li.symptoms__item 
                img(src="./img/product/symptom.png", alt="")
                p Медикаментозное лечение
              li.symptoms__item 
                img(src="./img/product/symptom.png", alt="")
                p Хирургическое вмешательство
              li.symptoms__item 
                img(src="./img/product/symptom.png", alt="")
                p Малоинвазивное операционное вмешательство
            .symptoms__doctor
              img(src="./img/case/doc.png", alt="")
              p Не забывайте — программу лечения в каждом конкретном случае назначает врач 
      section.stats
        .stats__wrapper.container 
          .stats__content 
            .stats__left 
              img(src="./img/case/stats.png", alt="")
            .stats__right 
              h2.title-h1 Для воздействия <br>на симптомы геморроя
              p Удобный формат лечения неудобной проблемы. Таблетки Троксактив и Троксевазин<sup>®</sup> капсулы направленно действуют на вены изнутри<sup>5</sup> при геморрое.
      section.others 
        .others__wrapper.container 
          .others__content 
            .others__list
              .others__item.swiper-gel-1
                h2.title-h1 Троксактив <br>Таблетки
                img(src="./img/product/other-gel-1-40.png", alt="")
                p <strong class="others-orange">Курс лечения – всего 7 дней при остром геморрое. Или 1 таблетка в день при хроническом<sup>6</sup></strong>
                .others__btns
                  button.btn Купить
                  button.btn.btn-rounded Узнать больше
              .others__item.swiper-gel-1 
                h2.title-h1 Троксевазин<sup>®</sup> <br> капсулы
                img(src="./img/product/other-gel-1-40.png", alt="")
                p <strong class="others-violet">Доступная цена<sup>3</sup>, <br> европейское производство<sup>4</sup></strong>
                .others__btns
                  button.btn Купить
                  button.btn.btn-rounded Узнать больше
      section.read-more 
        .read-more__wrapper.container 
          .read-more__content 
            h2.title-h1 Узнайте больше о варикозе
            .articles 
              .articles__content
                .articles__item 
                  img(src="./img/product/article.jpg", alt="")
                  h3 Симптомы варикоза
                  p Посмотрим на статистику: по данным исследователей, большая часть пациентов до обращения к специалисту по проблемам с венами, флебологу, имела опыт...
                .articles__item 
                  img(src="./img/product/article.jpg", alt="")
                  h3 Анализы при варикозе
                  p Посмотрим на статистику: по данным исследователей, большая часть пациентов до обращения к специалисту по проблемам с венами, флебологу, имела опыт...
                .articles__item 
                  img(src="./img/product/article.jpg", alt="")
                  h3 Кратко о варикозе
                  p Посмотрим на статистику: по данным исследователей, большая часть пациентов до обращения к специалисту по проблемам с венами, флебологу, имела опыт...
              .articles__btn 
                button.btn.btn-rounded Смотреть еще
      section.sources
        .sources__wrapper.container
          p. 
            * При хронических заболеваниях вен. 
            <br>** Хронической венозной недостаточности 
            <br>1. Пенетрационное исследование по геморрою. 1511 респондентов. Ipsos. Декабрь 2021
            <br>2. https://cr.minzdrav.gov.ru/schema/178_1
            <br>3. По сравнению с лидерами рынка венотоников для системного применения. Согласно данным базы «АЙКЬЮВИА Солюшнс» «Розничный аудит ГЛС и БАД в РФ», продажи в рублях в категории «Препараты, снижающие проницаемость капилляров» в виде твердых лекарственных форм; средние розничные цены в рублях в пересчете на 1 таблетку/капсулу в январе 2020 г.
            <br>4. Инструкция по медицинскому применению лекарственного препарата Троксевазин® капсулы ЛП-№ (000083)-(РГ-RU)
            <br>5. Инструкции по медицинскому применению лекарственных препаратов Троксактив ЛП-№ (000726)-(РГ-RU), Троксевазин® капсулы ЛП-№(000083)-(РГ-RU),
            <br>6. Инструкция по медицинскому применению лекарственного препарата Троксактив ЛП-№ (000726)-(РГ-RU)
      //- Footer
      include ./components/footer/footer.pug
      //- Modal
      //- include ./layouts/modal.pug
      
    script(src='index.js' type="module" defer)