nav(class="navbar")
  .navbar__wrapper.container
    img.logo(src="./img/logo.svg", alt="Логотип")
    .navbar__nav
      .navbar__item.navbar__link
        button(type="button") Продукты
      .navbar__item.navbar__link
        a(href="#") Статьи
      .navbar__item.navbar__sale
        a(href="#" class="btn-border") Акции
      .navbar__item.navbar__cta
        button(type="button" class="btn-sale") Купить
