include ../button/button.pug

div(
  class="modal__content" 
  v-if="store.modalClassActual == 'tomography'"
  :class="store.modalClasses()"
  v-effect="store.modalSize = 'big'"
)
  .modal__header 
    h3#modal-t-title {{ store.modalTomography == 'mrt' ? 'МРТ в динамике' :  'Динамика по шкале EDSS' }}

  .modal__main
    div(class="sw_1" v-if="store.modalTomography === 'mrt'")
      .swiper__mrt.swiper
        .swiper__mrt__content.swiper-wrapper
          div(class="swiper__mrt__item swiper-slide")
            img(src="./img/nophoto-mrt.png" class="swiper__mrt__item-img")
            .swiper__mrt__text
              h4 2004
              //- p
              span По МРТ грудного отдела спинного мозга выдвинуто предположение о сирингомиелии.
          div(class="swiper__mrt__item swiper-slide" v-if="store.currentTab > 0")
            img(src="./img/nophoto-mrt.png" class="swiper__mrt__item-img")
            .swiper__mrt__text
              h4 Апрель 2006 
              span МРТ головного мозга и спинного мозга – выявлены   очаговые изменения.
          div(class="swiper__mrt__item swiper-slide" v-if="store.currentTab > 1")
            img(src="./img/nophoto-mrt.png" class="swiper__mrt__item-img")
            .swiper__mrt__text
              h4 2007-2014
              span По данным МРТ отрицательной динамики не наблюдается.
          div(class="swiper__mrt__item swiper-slide" v-if="store.currentTab > 2")
            img(src="./img/nophoto-mrt.png" class="swiper__mrt__item-img")
            .swiper__mrt__text
              h4 Июнь 2015
              span Отрицательная динамика в виде появления новых активных очагов как в головном мозге, так и на шейном уровне спинного мозга.
          div(class="swiper__mrt__item swiper-slide" v-if="store.currentTab > 3")
            img(src="./img/nophoto-mrt.png" class="swiper__mrt__item-img")
            .swiper__mrt__text
              h4 Июнь 2016 
              span МРТ отрицательная динамика в вид появления нового активного очага.
          div(class="swiper__mrt__item swiper-slide" v-if="store.currentTab > 5")
            img(src="./img/nophoto-mrt.png" class="swiper__mrt__item-img")
            .swiper__mrt__text
              h4 2018
              span Отрицательной динамики нет.
          div(class="swiper__mrt__item swiper-slide" v-if="store.currentTab > 6")
            img(src="./img/nophoto-mrt.png" class="swiper__mrt__item-img")
            .swiper__mrt__text
              h4 2019
              span Отрицательной динамики нет <br>Мр-картина многоочагового демиелинизирующего поражения головного мозга (супра- и инфратенториально, с вовлечением мозолистого тела) и спинного мозга (на уровне ГОП). Данных о нарушении целостности ГЭБ на исследуемых уровнях не получено. При визуальном сравнении с исследованием от 21.10.2018 г – существенной динамики в количестве и размерах очагов не отмечено.
              button(type="button" class="text-accordion" @click="store.readMore($event)")
          div(class="swiper__mrt__item swiper-slide" v-if="store.currentTab > 6")
            img(src="./img/nophoto-mrt.png" class="swiper__mrt__item-img")
            .swiper__mrt__text
              h4 3 сентября 2019
              span Мр-картина многоочагового демиелинизирующего поражения головного мозга (супра- и инфратенториально, с вовлечением мозолистого тела) и спинного мозга (на уровне ГОП). Данных о нарушении целостности ГЭБ на исследуемых        уровнях не получено. При визуальном сравнении с исследованием от 21.10.2018 г – существенной динамики в количестве и размерах очагов не отмечено.
              button(type="button" class="text-accordion" @click="store.readMore($event)")
          div(class="swiper__mrt__item swiper-slide" v-if="store.currentTab > 7")
            img(src="./img/nophoto-mrt.png" class="swiper__mrt__item-img")
            .swiper__mrt__text
              h4 2021
              span Мр-картина многоочагового демиелинизирующего поражения вещества головного мозга с супра- и инфратенториальной локализацией очагов и вовлечением в процесс мозолистого тела. Данных о нарушении целостности  ГЭБ не получено. При сравнении с исследованием от 03.09.2019 г – без отрицательной динамики. 
              button(type="button" class="text-accordion" @click="store.readMore($event)")
          div(class="swiper__mrt__item swiper-slide" v-if="store.currentTab > 7" v-effect="store.localInitSwiper('swiper-mrt-2021')")
            //- img(src="./img/nophoto-mrt.png" class="swiper__mrt__item-img")
            #swiper-mrt-2021.swiper__mrt__item-img.swiper
              .swiper-wrapper
                .swiper-slide 
                  img(src="./img/snapshots/1.png" style="height: auto")
                .swiper-slide 
                  img(src="./img/snapshots/2.png" style="height: auto")
                .swiper-slide 
                  img(src="./img/snapshots/3.png" style="height: auto")
            .swiper-pagination.swiper__mrt__item-pagination
            .swiper__mrt__text
              h4 9 марта 2021
              span Мр-картина многоочагового демиелинизирующего поражения вещества головного мозга с супра- и инфратенториальной локализацией очагов и вовлечением в процесс мозолистого тела. Данных о нарушении целостности ГЭБ не получено. При сравнении с исследованием от 03.09.2019г – без отрицательной динамики. 
              button(type="button" class="text-accordion" @click="store.readMore($event)")
            .swiper-button-next.swiper-button-next-2021
            .swiper-button-prev.swiper-button-prev-2021
      .swiper-button-next.swiper-button-next-mrt
      .swiper-button-prev.swiper-button-prev-mrt
      .swiper-pagination.swiper__mrt_pagi
    div(class="sw_2" v-if="store.modalTomography === 'sled'")
      .swiper__sled.swiper
        .swiper__sled__content.swiper-wrapper
          div(class="swiper__sled__item swiper-slide" v-if="store.currentTab > 6" data-sledbasis="1")
              img(src="./img/issled/3.svg" class="swiper__sled__img")
          div(class="swiper__sled__item swiper-slide" v-if="store.currentTab > 6" data-sledbasis="0.5")
            img(src="./img/issled/1.svg" class="swiper__sled__img")
          div(class="swiper__sled__item swiper-slide" v-if="store.currentTab > 6" data-sledbasis="0.5")
            img(src="./img/issled/2.svg" class="swiper__sled__img")
      .swiper-button-next
      .swiper-button-prev
      .swiper-pagination.swiper__sled_pagi