.stats {
  margin-bottom: 100px;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__left {
    width: 35%;
    & > img {
      width: 100%;
      object-fit: contain;
    }
  }
  &__right {
    margin-bottom: 0 !important;
  }
}