.modal-mask
  .modal
    //- Содержимое модального окна
    .modal__content
      .modal__header 
        h3.title-h1 7 классов хронических <br>заболеваний вен<sup>1</sup>
      .modal__main 
        .veins__list 
          .veins__item
            .veins__img
              img(src="./img/modal/c0.png", alt="")
            span C0
            p Нет визуальных изменений
          .veins__item
            .veins__img
              img(src="./img/modal/c0.png", alt="")
            span C1
            p Нет визуальных изменений
          .veins__item
            .veins__img
              img(src="./img/modal/c0.png", alt="")
            span C2
            p Нет визуальных изменений
          .veins__item
            .veins__img
              img(src="./img/modal/c0.png", alt="")
            span C3
            p Нет визуальных изменений
          .veins__item
            .veins__img
              img(src="./img/modal/c0.png", alt="")
            span C4
            p Нет визуальных изменений
          .veins__item
            .veins__img
              img(src="./img/modal/c0.png", alt="")
            span C5
            p Нет визуальных изменений
          .veins__item
            .veins__img
              img(src="./img/modal/c0.png", alt="")
            span C6
            p Нет визуальных изменений
      .modal__footer
        p 1. Eklöf B., Rutherford R.B., Bergan J.J. и соавт.; American Venous Forum International Ad Hoc Committee for Revision of the CEAP Classification: Revision of the CEAP classification for chronic venous disorders: consensus statement. J. Vasc. Surg., 2004; 40 (6): 1251–1252 <br> 2. Золотухин И.А, Селиверстов Е., Шевцов Ю., Авакьянц И., Никишков А., Татаринцев А., Кириенко А. Распространенность хронических заболеваний вен: результаты популяционного эпидемиологического исследования. Флебология. 2016;10(3):119-125
    button(class="modal__close" type="button" aria-label="close")
      .modal__close-right
      .modal__close-left