.modal-mask
  .modal
    //- Содержимое модального окна
    .modal__content
      .modal__header 
        h3.title-h1 Регламент применения МОФФ при варикозе<sup>*,1</sup>
      .modal__main 
        .moff 
          img(src="./img/modal/table.svg" srcset="./img/modal/table.svg 1x, ./img/modal/table-mob.svg 640w" alt="")
      .modal__footer
        p https://cr.minzdrav.gov.ru/schema/178_1. Дата обращения:и 28.02.2023
    button(class="modal__close" type="button" aria-label="close")
      .modal__close-right
      .modal__close-left